    <div class="background">
        <div class="columns is-mobile is-centered">
  <div class="column is-half">
    <p class="bd-notification">


its only what you can see now.
hopefully i can manage here tho.
shirt isnt happen sometime.

        </p>
  </div>
</div>
</div>
