body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.navbar {
  background-color: #50B040 ;
  color: $green-invert;
}
.section {
  display:flex;
  flex:1 0 auto;
}

.div {
  font-family: sans-serif;
}

.container {
  padding:1rem 1rem;
}

.card {
  table-layout: fixed;
  word-wrap: break-word;
  background: image-url("washi.png");
}

.card-header {
  background-color: #4090B0  ;
}

.background {
  height: 100vh;
  margin-top: 120px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 100px;
}

