body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  margin-top: 120px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 100px;
}
.navbar {
  background-color: #66CCC0;
  // color: $green-invert;
}
.section {
  display:flex;
  flex:1 0 auto;
}

.div {
  font-family: sans-serif;
}

.container {
  padding:1rem 1rem;
}