<div class="container">
<div class="card">
  <header class="card-header">
    <p class="card-header-title">
      Component
    </p>
  </header>
  <%# end ofheader %>
  <div class="card-content">
    <div class="content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
      <a href="#">@bulmaio</a>. <a href="#">#css</a> <a href="#">#responsive</a>
      <br>
      <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
    </div>
    <div class="content">
    mmm
    </div>
    <div class="level-right">
      <div class="content has-text-info">
        <%= review.user.name %>
      </div>
    </div>
  </div>
  <footer class="card-footer">
  <% if user_signed_in? && current_user.id == review.user_id %>
    <a href="#" class="card-footer-item">Save</a>
    <a href="#" class="card-footer-item">Edit</a>
    <a href="#" class="card-footer-item">Delete</a>
  <% else %>
    <a href="#" class="card-footer-item is-hidden">Save</a>
    <a href="#" class="card-footer-item is-hidden">Edit</a>
    <a href="#" class="card-footer-item">Like</a>
  <% end %>
  </footer>
</div>
</div>