<div class="background">
<div class="columns is-mobile is-centered">
  <div class="column is-half">
    <p class="bd-notification">
<h2 class="title">EDIT</h2>


<%= render "form" %>

    </p>
  </div>
</div>
</div>